.Machiatto{
    background-image: url(machiatto.jpg);
    background-repeat: no-repeat;
    height: 95vh;
    float: right;
    margin-top: 2vh;
    width: 95%;   
    background-size: 100% ;
   }
   
   .title{
       position: relative;
       margin-top: 75vh;
       margin-right: 145vh;
       size: 10vh;
       font-family: 'Itim', cursive;
   }
   